<div class="card">
  <div class="card-header" style="font-size: 26px;font-weight: bold;text-align: center;">คำถามที่พบบ่อย</div>
  <div class="card-body">
    <li class="card-title" style="font-weight: bold">
      การลงทะเบียนเรียนในกรณีปกติ
    </li>
    <p class="card-text" style="margin-left: 20px">
      การลงทะเบียนเรียนจะต้องลงทะเบียนตามกำหนดของทางมหาวิทยาลัย
      โดยดูได้จากปฏิทินการศึกษา
      ของนิสิตจะต้องได้รับความเห็นชอบจากอาจารย์ที่ปรึกษา
      รายละเอียดการลงทะเบียนดูได้จากหัวข้อ "ลงทะเบียน/ชำระค่าธรรมเนียม"
    </p>
    <li class="card-title" style="font-weight: bold">
      ระเบียบการสอบในกรณีสอบตกรายวิชาเลือกเสรี
    </li>
    <p class="card-text" style="margin-left: 20px">
      นิสิตต้องสอบไล่ได้ทุกรายวิชาที่ลงทะเบียนเรียนไว้
      ในกรณีที่นิสิตสอบตกรายวิชาเลือกเสรี จะเลือกเรียนรายวิชาอื่นทดแทนได้
      โดยความเห็นชอบของอาจารย์ที่ปรึกษา
    </p>
    <li class="card-title" style="font-weight: bold">
      ระเบียบการลาป่วยและลากิจ
    </li>
    <p class="card-text" style="margin-left: 20px">
      การลาป่วย ลากิจ ที่ไม่เกิน 15 วัน ให้อยู่ในดุลพินิจของอาจารย์ที่
      ปรึกษาในการอนุมัติ หากเกินจากนี้ต้องได้รับความเห็นชอบจากหัวหน้า
      ภาควิชาและอนุมัติจากคณบดีเจ้าสังกัด
    </p>
  </div>
</div>
