<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="font-size: 26px;text-align: center;font-weight: bold;">ติดต่อเรา</div>
      <div class="card-body">
        <div class="card-body">
          <h5 style="font-weight: bold">
            มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
          </h5>
          เลขที่ 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230
          โทรศัพท์ : 0-3835-4580-4 (666103)
        </div>
        <div style="margin-left: 20px">
          <h5 style="font-weight: bold">หมายเลขโทรศัพท์หน่วยงาน</h5>
          <li>คณะวิทยาการจัดการ 0-3835-2828 (661000)</li>
          <li>คณะวิศวกรรมศาสตร์ศรีราชา 0-3835-4580-4 (662202)</li>
          <li>คณะวิทยาศาสตร์ ศรีราชา 0-3835-4587-8 (663014)</li>
          <li>คณะเศรษฐศาสตร์ ศรีราชา 0-3835-2902, 081-781-0934 (664302)</li>
          <li>คณะพาณิชยนาวีนานาชาติ 0-3835-4580-4 (665301)</li>
        </div>
      </div>
    </div>
  </div>
</div>
